<%- include('../layouts/header.ejs', { titulo: 'Cadastrar de Movimentação' }) %>

<div class="produtos-container">
  <h2>Cadastrar Movimentação</h2>
  <form method="POST" action="/movimentacoes/novo" class="form-cadastro-produto">
    <div class="form-row">
      <label for="nome">Produto:</label>
        <select id="id_produto" name="id_produto" required>
            <option value="">Selecione um produto</option>
            <% produtos.forEach(p => { %>
            <option value="<%= p.id_produto %>"><%= p.nome_produto %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-row">
      <label for="estoque_minimo">Tipo:</label>
        <select id="tipo" name="tipo" required>
            <option value="E">Entrada</option>
            <option value="S">Saída</option>
        </select>
    </div>
    <div class="form-row">
      <label for="quantidade">Quantidade:</label>
      <input type="number" id="quantidade" name="quantidade" min="0" required>
    </div>
    <button type="submit" class="botao-cadastro">Cadastrar</button>
    <a href="/movimentacoes/listar" class="botao-voltar">Cancelar</a>
  </form>
</div>

<%- include('../layouts/footer.ejs') %>
